{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
    #d_title {
        font-size: 30pt;
        color: #557DE1;
    }

    #fm {
        font-size: 35pt;
        color: #99c;
    }

    .circle {
        width: 150px;
        height: 150px;
        border-radius: 60%;
        overflow: hidden;
    }

    .profile {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .name {
        position: relative;
        top: 7px;
        left: 20px;
    }

    .sns1 {
        position: relative;
        left: -5px;
    }
</style>

<h2 id="d_title">Who developed <strong id="fm">ChartMoa</strong>?</h2>
<hr><br>

<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="circle">
        <img src="{% static 'seunghyun.png' %}" alt="승현" height="150" width="150">
    </div>

    <div class="name">
        <h1>조승현</h1>
    </div>

    <div class="sns1">
        <a href="https://github.com/"><img src="{% static 'github.png' %}" width="50px" height="50px"></a>
        <a href="https://www.instagram.com/"><img src="{% static 'instagram.png' %}" width="45px"
                height="45px"></a>
        <a href=""><img src="{% static 'blog.jpeg' %}" width="60px" height="64px"></a>
    </div>
</div>

<div class="col-lg-4 col-md-6 col-sm-12"> 
    <div class="circle">
        <img src="{% static 'eunsung.png' %}" alt="은성" height="150" width="150">
    </div>

    <div class="name">
        <h1>노은성</h1>
    </div>

    <div class="sns1">
        <a href="https://github.com/"><img src="{% static 'github.png' %}" width="50px" height="50px"></a>
        <a href="https://www.instagram.com/"><img src="{% static 'instagram.png' %}" width="45px"
                height="45px"></a>
        <a href=""><img src="{% static 'blog.jpeg' %}" width="60px" height="64px"></a>
    </div>
</div>



<div class="col-lg-4 col-md-6 col-sm-12"> 
    <div class="circle">
        <img src="{% static 'hyunsung.png' %}" alt="현성" height="150" width="150">
    </div>

    <div class="name">
        <h1>김현성</h1>  
    </div>

    <div class="sns1">
        <a href="https://github.com/"><img src="{% static 'github.png' %}" width="50px" height="50px"></a>
        <a href="https://www.instagram.com/"><img src="{% static 'instagram.png' %}" width="45px"
                height="45px"></a>
        <a href=""><img src="{% static 'blog.jpeg' %}" width="60px" height="64px"></a>
    </div>
</div>


<div class="col-lg-4 col-md-6 col-sm-12"> 
    <div class="circle">
        <img src="{% static 'hyunju.png' %}" alt="현주" height="150" width="150">
    </div>

    <div class="name">
        <h1>안현주</h1>
    </div>

    <div class="sns1">
        <a href="https://github.com/"><img src="{% static 'github.png' %}" width="50px" height="50px"></a>
        <a href="https://www.instagram.com/"><img src="{% static 'instagram.png' %}" width="45px"
                height="45px"></a>
        <a href=""><img src="{% static 'blog.jpeg' %}" width="60px" height="64px"></a>
    </div>
</div>


{% endblock %}